<a href="https://colab.research.google.com/github/Ricardobigdata/PrimerRepor/blob/main/C%C3%B3pia_de_auditoria_cap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd
import numpy as np
from datetime import datetime
from pandas import DataFrame
from datetime import datetime
import pandas as pd
import numpy as np
import time
import warnings

In [7]:
pasta_raiz = '/content/drive/MyDrive/AUDITORIA/2023'

In [8]:
movimentos = pd.read_csv(f'{pasta_raiz}/ValoresMovimentoTitulos.csv', sep=';', encoding='utf-8')
movimentos["valor"] = [x.replace(",", ".") for x in movimentos["vdrValor"]]
movimentos["movimento"] = movimentos["valor"].astype(float, errors = 'raise')

In [9]:
provisao = pd.read_csv(f'{pasta_raiz}/ValoresProvTit.csv', sep=';', encoding='utf-8')
provisao["valor"] = [x.replace(".", "") for x in provisao[' vdrValor ']]
provisao["valor1"] = [x.replace(",", ".") for x in provisao["valor"]]
provisao["provisao"] = provisao["valor1"].astype(float, errors = 'raise')

In [58]:
resumo_mov = movimentos.groupby(['plnCodigo','mrfMesAno','cmpID'])['movimento'].sum().apply(lambda x:"{:,.2f}".format(x))
resumo_prov = provisao.groupby(['plnCodigo','mrfMesAno','cmpID'])['provisao'].sum().apply(lambda x:"{:,.2f}".format(x))

In [59]:
jan_prov = resumo_prov.filter(like='01/01/2022', axis=0)
fev_prov = resumo_prov.filter(like='01/02/2022', axis=0)
mar_prov = resumo_prov.filter(like='01/03/2022', axis=0)
abr_prov = resumo_prov.filter(like='01/04/2022', axis=0)
mai_prov = resumo_prov.filter(like='01/05/2022', axis=0)
jun_prov = resumo_prov.filter(like='01/06/2022', axis=0)
jul_prov = resumo_prov.filter(like='01/07/2022', axis=0)
ago_prov = resumo_prov.filter(like='01/08/2022', axis=0)
seb_prov = resumo_prov.filter(like='01/09/2022', axis=0)
out_prov = resumo_prov.filter(like='01/10/2022', axis=0)
nov_prov = resumo_prov.filter(like='01/11/2022', axis=0)
dez_prov = resumo_prov.filter(like='01/12/2022', axis=0)
empilhado_prov = pd.concat([jan_prov,fev_prov,mar_prov,abr_prov,mai_prov,jun_prov,jul_prov,ago_prov,seb_prov,out_prov,nov_prov,dez_prov])
empilhado_prov_tot = pd.DataFrame(empilhado_prov).reset_index()

In [60]:
jan_mov = resumo_mov.filter(like='01/01/2022', axis=0)
fev_mov = resumo_mov.filter(like='01/02/2022', axis=0)
mar_mov = resumo_mov.filter(like='01/03/2022', axis=0)
abr_mov = resumo_mov.filter(like='01/04/2022', axis=0)
mai_mov = resumo_mov.filter(like='01/05/2022', axis=0)
jun_mov = resumo_mov.filter(like='01/06/2022', axis=0)
jul_mov = resumo_mov.filter(like='01/07/2022', axis=0)
ago_mov = resumo_mov.filter(like='01/08/2022', axis=0)
seb_mov = resumo_mov.filter(like='01/09/2022', axis=0)
out_mov = resumo_mov.filter(like='01/10/2022', axis=0)
nov_mov = resumo_mov.filter(like='01/11/2022', axis=0)
dez_mov = resumo_mov.filter(like='01/12/2022', axis=0)
empilhado_mov = pd.concat([jan_mov,fev_mov,mar_mov,abr_mov,mai_mov,jun_mov,jul_mov,ago_mov,seb_mov,out_mov,nov_mov,dez_mov])

empilhado_mov_tot = pd.DataFrame(empilhado_mov).reset_index()

## Geração dos valores de provisões

In [84]:
PMC = empilhado_prov_tot.query('cmpID == 12781')
PMC.rename(columns={'provisao': 'PMC'})
PDB = empilhado_prov_tot.query('cmpID == 12782')
PDB.rename(columns={'provisao': 'PDB'})
PRA = empilhado_prov_tot.query('cmpID == 12785')
PRA.rename(columns={'provisao': 'PRA'})
PRV = empilhado_prov_tot.query('cmpID == 12784')
PRV.rename(columns={'provisao': 'PRV'})
PSR = empilhado_prov_tot.query('cmpID == 12786')
PSR.rename(columns={'provisao': 'PSR'})
PCS = empilhado_prov_tot.query('cmpID == 12787')
PCS.rename(columns={'provisao': 'PCS'})
PSRC = empilhado_prov_tot.query('cmpID == 12791')
PSRC.rename(columns={'provisao': 'PSRC'})
PSP = empilhado_prov_tot.query('cmpID == 12793')
PSP.rename(columns={'provisao': 'PSP'})
PDA = empilhado_prov_tot.query('cmpID == 12794')
PDA.rename(columns={'provisao': 'PDA'})
OPT = empilhado_prov_tot.query('cmpID == 12795')
OPT.rename(columns={'provisao': 'OPT'})

        plnCodigo         mrfMesAno  cmpID   OPT
14              2  01/01/2022 00:00  12795  0.00
29              3  01/01/2022 00:00  12795  0.00
44              4  01/01/2022 00:00  12795  0.00
59              6  01/01/2022 00:00  12795  0.00
74             10  01/01/2022 00:00  12795  0.00
...           ...               ...    ...   ...
163319       1499  01/08/2022 00:00  12795  0.00
163334       1500  01/08/2022 00:00  12795  0.00
163349       1501  01/08/2022 00:00  12795  0.00
163364       1502  01/08/2022 00:00  12795  0.00
163379       1503  01/08/2022 00:00  12795  0.00

[10892 rows x 4 columns]

## Geração dos valores de movimentos das provisões

In [86]:
ARREC_INST = empilhado_mov_tot.query('cmpID == 12788')
ARREC_INST.rename(columns={'movimento': 'ARREC_INST'})
SORTEIO_REALIZADOS_INST = empilhado_mov_tot.query('cmpID == 12789')
SORTEIO_REALIZADOS_INST.rename(columns={'movimento': 'SORTEIO_REALIZADOS_INST'})
SORTEIO_A_REALIZAR_C_OBRIG = empilhado_mov_tot.query('cmpID == 12790')
SORTEIO_A_REALIZAR_C_OBRIG.rename(columns={'movimento': 'SORTEIO_A_REALIZAR_C_OBRIG'})
ARREC_N_CAP = empilhado_mov_tot.query('cmpID == 12808')
ARREC_N_CAP.rename(columns={'movimento': 'ARREC_N_CAP'})
ARREC_CAP = empilhado_mov_tot.query('cmpID == 12809')
ARREC_CAP.rename(columns={'movimento': 'ARREC_CAP'})
TRANSF_PMC_P_PR = empilhado_mov_tot.query('cmpID == 12810')
TRANSF_PMC_P_PR.rename(columns={'movimento': 'TRANSF_PMC_P_PR'})
AJUST_PMC = empilhado_mov_tot.query('cmpID == 12811')
AJUST_PMC.rename(columns={'movimento': 'AJUST_PMC'})
PENALT = empilhado_mov_tot.query('cmpID == 12812')
PENALT.rename(columns={'movimento': 'PENALT'})
ARREC_BONUS = empilhado_mov_tot.query('cmpID == 12813')
ARREC_BONUS.rename(columns={'movimento': 'ARREC_BONUS'})
TRANSF_PDB_P_PR = empilhado_mov_tot.query('cmpID == 12814')
TRANSF_PDB_P_PR.rename(columns={'movimento': 'TRANSF_PDB_P_PR'})
AJUST_PDB = empilhado_mov_tot.query('cmpID == 12815')
AJUST_PDB.rename(columns={'movimento': 'AJUST_PDB'})
RESGATADO = empilhado_mov_tot.query('cmpID == 12816')
RESGATADO.rename(columns={'movimento': 'RESGATADO'})
PRESCRICAO = empilhado_mov_tot.query('cmpID == 12817')
PRESCRICAO.rename(columns={'movimento': 'PRESCRICAO'})
AJUST_PR = empilhado_mov_tot.query('cmpID == 12818')
AJUST_PR.rename(columns={'movimento': 'AJUST_PR'})
DEV_CUST_SORT_FUTURO = empilhado_mov_tot.query('cmpID == 12819')
DEV_CUST_SORT_FUTURO.rename(columns={'movimento': 'DEV_CUST_SORT_FUTURO'})
ARREC_SORT = empilhado_mov_tot.query('cmpID == 12820')
ARREC_SORT.rename(columns={'movimento': 'ARREC_SORT'})
BAIXA_PSR = empilhado_mov_tot.query('cmpID == 12821')
BAIXA_PSR.rename(columns={'movimento': 'BAIXA_PSR'})
SORT_REALIZADO = empilhado_mov_tot.query('cmpID == 12822')
SORT_REALIZADO.rename(columns={'movimento': 'SORT_REALIZADO'})
SORT_PAGOS = empilhado_mov_tot.query('cmpID == 12823')
SORT_PAGOS.rename(columns={'movimento': 'SORT_PAGOS'})
AJUST_PSP_PRESCRICAO = empilhado_mov_tot.query('cmpID == 12824')
AJUST_PSP_PRESCRICAO.rename(columns={'movimento': 'AJUST_PSP_PRESCRICAO'})
AJUST_PSP_OUTROS = empilhado_mov_tot.query('cmpID == 12825')
AJUST_PSP_OUTROS.rename(columns={'movimento': 'AJUST_PSP_OUTROS'})

        plnCodigo   mrfMesAno  cmpID AJUST_PSP_OUTROS
25              2  01/01/2022  12825             0.00
57              3  01/01/2022  12825             0.00
89              4  01/01/2022  12825             0.00
121             6  01/01/2022  12825             0.00
153            15  01/01/2022  12825             0.00
...           ...         ...    ...              ...
122649       1082  01/07/2022  12825             0.00
122681       1083  01/07/2022  12825             0.00
122713       1084  01/07/2022  12825             0.00
122745       1085  01/07/2022  12825             0.00
122777       1086  01/07/2022  12825             0.00

[3837 rows x 4 columns]

In [87]:
#REALIZAR MERGE COM TODAS AS VARIAVEIS PARA CADA PROVISAO